node_modules
dist
pattern-dist
/base-branch
size-head.json
size-base.json
size-report.md
coverage-summary.md
.DS_Store
package-lock.json
.claude
bun.lock
.vscode/*
!.vscode/settings.json
!.vscode/launch.json
./cursor/*
coverage/
secrets.json
.pnpm-store/*
