.ai-circle {
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  background-size: 200% 200%;
  width: 50px;
  height: 50px;
  transition: all 1s ease-in-out;
}

.ai-circle.disconnected {
  background: radial-gradient(circle at 15% 15%, #e0e0e0, #b0b0b0, #6c7a89, #F1F1F1);
  animation: flow 12s ease-in-out infinite;
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  background-size: 200% 200%;
  width: 50px;
  height: 50px;
  transition: all 1s ease-in-out;
}

.ai-circle.connecting {
  background: radial-gradient(circle at 15% 15%, #fff2cc, #ffd966, #a3c4f3, #F1F1F1);
  animation: flow 8s ease-in-out infinite, pulse 1.2s ease-in-out infinite;
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  background-size: 200% 200%;
  width: 50px;
  height: 50px;
  transition: all 1s ease-in-out;
}

.ai-circle.connected {
  background: radial-gradient(circle at 15% 15%, #c6e3e7, #001455, #025837, #F1F1F1);
  animation: flow 12s ease-in-out infinite;
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  background-size: 200% 200%;
  width: 50px;
  height: 50px;
  transition: all 1s ease-in-out;
}

.ai-circle.listening {
  background: radial-gradient(circle at 15% 15%, #c6e3e7, #6f8ae2, #e1f87a, #F1F1F1);
  animation: flow 4s ease-in-out infinite, pulse 1.2s ease-in-out infinite;
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  background-size: 200% 200%;
  width: 50px;
  height: 50px;
  transition: all 1s ease-in-out;
}

.ai-circle.speaking {
  background: radial-gradient(circle at 15% 15%, #c6e3e7, #f73939, #3d31ee, #F1F1F1);
  animation: flow 4s ease-in-out infinite, pulse 1.2s ease-in-out infinite;
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  background-size: 200% 200%;
  width: 50px;
  height: 50px;
  transition: all 1s ease-in-out;
}

.ai-circle.muted{
  background: radial-gradient(circle at 15% 15%, #e0e0e0, #b0b0b0, #6c7a89, #F1F1F1);
  animation: flow 12s ease-in-out infinite;
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  background-size: 200% 200%;
  width: 50px;
  height: 50px;
  transition: all 1s ease-in-out;
}

.ai-circle:hover{
  animation: flow 4s ease-in-out infinite;
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  background-size: 200% 200%;
  width: 50px;
  height: 50px;
  transition: all 1s ease-in-out;
}

@keyframes flow {
  0% {
    background-position: 0% 50%;
  }

  25% {
    background-position: 25% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  75% {
    background-position: 75% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes pulse {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }
}