.scripture-map-2d-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr auto;
  background-color: white;
  pointer-events: all;
  overflow: hidden;
  gap: 8px;
  height: 100%;
  --timelineItemSize: 16px;
  position: relative;
  padding-top: 16px;
  background-color: var(--pageBackground);
}

.scripture-map-2d-wrapper *:not(.material-symbols-outlined) {
  font-family: "Satoshi";
}

/* .scripture-map-2d-wrapper > * {
  padding-right: 24px;
  padding-left: 16px;
} */

.scripture-map-2d-settings {
  /* z-index: 10; */
  top: 0;
  width: 100%;
  gap: 4px;
  display: grid;
  grid-template-columns: 16px 1fr 40px 40px 16px;
  grid-template-rows: 40px 20px auto auto 16px 32px;
}

.scripture-map-2d-settings.collapsed {
  grid-template-rows: 40px 20px;
}

.scripture-map-2d-settings .horizontal-divider {
  background-color: var(--gray2-color);
  height: 1.5px;
}

.scripture-map-2d-settings > :nth-child(1 of .horizontal-divider) {
  grid-column: 1 / 6;
  grid-row: 2 / 3;
}

.scripture-map-2d-settings > :nth-child(2 of .horizontal-divider) {
  grid-column: 2 / 5;
  grid-row: 6 / 7;
  align-self: center;
}

.settings-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.settings-title > span {
  font-size: 20px;
  font-weight: 600;
}

.header-button {
  display: flex !important;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  justify-self: center;
  align-self: center;
  grid-row: 1 / 2;
}

.settings-button {
  grid-column: 3 / 4;
  font-size: 28px !important;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  padding: 6px;
}

.close-button {
  grid-column: 4 / 5;
}

.settings-options-container {
  position: absolute;
  right: 0;
  top: calc(100% + 4px);
  background-color: var(--primaryColor);
  color: var(--text1);
  padding: 12px;
  border-radius: 8px;
  gap: 4px;
  border: 1px solid #1a1a1a;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 208px;
  min-height: 20px;
  z-index: 1;
}
.scripture-title {
  color: var(--text1);
}
.option-button {
  color: var(--text1);
}

.settings-options-container > span:nth-of-type(1) {
  font-size: 16px;
  font-weight: 500;
  padding: 4px 8px 0;
}

.settings-options-container > span:nth-of-type(2) {
  font-size: 12px;
  font-weight: 100;
  padding: 0 8px 8px;
}

.settings-options-container > button {
  min-width: 100%;
  background-color: transparent;
  color: var(--text1);
  appearance: none;
  border: none;
  cursor: pointer;
  text-align: start;
  border-radius: 4px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  white-space: nowrap;
  font-weight: 400;
  padding: 4px 8px;
}

.settings-options-container > button > span {
  font-size: 20px;
}

.settings-options-container > button:hover {
  background-color: var(--text1);
  color: var(--primaryColor);
}

.scripture-map-2d-settings > .settings-footer {
  grid-column: 2 / 5;
  grid-row: 5 / 6;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.settings-footer > .legend {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
}

.settings-footer > .legend > span:nth-of-type(2),
.settings-footer > .legend > span:nth-of-type(3),
.settings-footer > .legend > span:nth-of-type(4),
.settings-footer > .legend > span:nth-of-type(5),
.settings-footer > .legend > span:nth-of-type(6) {
  width: 10px;
  height: 10px;
  border-radius: 2px;
}

.settings-footer > .year-selector {
  font-size: 12px;
  position: relative;
}

.settings-footer > .year-selector > .year-selector-label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.settings-footer > .year-selector > .year-selector-label > span:nth-of-type(2) {
  font-size: 16px;
}

.settings-footer > .year-selector > .year-selector-options {
  position: absolute;
  left: 0;
  top: calc(100% + 4px);
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--iconColor);
  color: var(--toolbarBackground);
  border-radius: 4px;
  padding: 4px;
  gap: 4px;
  box-shadow: 0 0 4px 0px #0000007d;
}

.settings-footer
  > .year-selector
  > .year-selector-options
  > .year-selector-option {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.settings-footer
  > .year-selector
  > .year-selector-options
  > .year-selector-option:hover,
.settings-footer
  > .year-selector
  > .year-selector-options
  > .year-selector-option.selected {
  background-color: var(--gray-color);
}

.project-state-setter {
  width: 100%;
  padding: 4px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
}

.scripture-map-2d-settings.collapsed .project-state-setter {
  display: none;
}

.project-state-setter > div:nth-of-type(1) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.project-state-setter > div:nth-of-type(2) {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
  width: 100%;
}

.project-state-setter > div:nth-of-type(2) > span:nth-of-type(1) {
  font-family: system-ui;
  font-size: 16px;
}

.selection-mode-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.selection-mode-toggle > span:nth-of-type(1) {
  background-color: white;
  border: solid 2px black;
  width: 16px;
  height: 16px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.selection-mode-toggle > span:nth-of-type(1).checked {
  background-color: #d36433;
  border-color: #d36433;
  color: white;
}

.selection-mode-toggle > span:nth-of-type(2) {
  font-family: system-ui;
}

.selection-mode-toggle > span:nth-of-type(3) {
  font-size: 16px;
}

.selection-options {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.selection-options > button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  appearance: none;
  border: none;
  background-color: transparent;
}

.selection-options > button:nth-of-type(1) {
  color: #808080;
}

.selection-options > button:nth-of-type(2) {
  color: #d36433;
}

.selection-options > button > span {
  font-size: 16px;
}

.divider {
  width: 1px;
  height: 20px;
  background-color: #d2d2d2;
}

.scripture-map-2d-wrapper .scripture-map-2d-controls {
  width: 100%;
}

.reading-history-user-selector {
  grid-column: 2 / 5;
  grid-row: 3 / 4;
}

.project-filters-selector,
.reading-history-user-selector {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}

.scripture-map-2d-settings.collapsed .project-filters-selector,
.scripture-map-2d-settings.collapsed .reading-history-user-selector {
  display: none;
}

.reading-history-timeline-container {
  width: 100%;
  padding: 8px;
  grid-column: 2 / 5;
  grid-row: 4 / 5;
}

.scripture-map-2d-settings.collapsed .reading-history-timeline-container {
  display: none;
}

.reading-history-timeline {
  width: 100%;
  display: grid;
  gap: 2px;
  align-items: start;
  overflow-x: scroll;
  scroll-behavior: smooth;
  justify-content: start;
  /* scrollbar-width: thin !important; */
}

.reading-history-timeline-item {
  width: var(--timelineItemSize);
  height: var(--timelineItemSize);
  background: var(--firstToolbarbutton);
  border-radius: 2px;
  border-style: solid;
  border-width: 0px;
  border-color: transparent;
  cursor: pointer;
}

.reading-history-timeline-item.upcoming,
.reading-history-timeline-item.selected {
  border-width: 2px;
}

.reading-history-timeline-item.upcoming {
  background: var(--background);
  border-color: var(--firstToolbarbutton);
  border-style: dashed;
}

.reading-history-timeline-item.selected {
  border-color: var(--secondaryColor);
}

.reading-history-timeline-label {
  font-family: system-ui;
  font-size: 12px;
  color: var(--text1);
}

.reading-history-timeline-label-month {
  margin-bottom: 4px;
}

.reading-history-timeline-label-day {
  margin-right: 4px;
  height: var(--timelineItemSize);
}

.project-state-button {
  padding: 6px 12px;
  background-color: var(--firstToolbarbutton);
  border: solid 2px var(--gray2-color);
  border-radius: 25px;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  color: var(--bookHeadingColor);
}

.project-filters-selector-option.selected,
.project-state-setter-option:hover {
  background-color: var(--primaryLight);
  border-color: var(--secondaryColor);
}

.filter-option-icon {
  width: 12px;
  height: 12px;
  border-radius: 20px;
  border-width: 2px;
}

.scripture-map-2d-wrapper,
.scripture-map-2d-wrapper * {
  box-sizing: border-box;
  scrollbar-width: none;
}

.scripture-map-2d-wrapper .scripture-map-2d-controls {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.scripture-map-2d-wrapper .scripture-map-2d-controls .zoom-container {
  background-color: var(--toolbarBackground);
  box-shadow: 0 0 6px 0 #0000002e;
  display: flex;
  border-radius: 4px;
  padding: 4px;
}

.scripture-map-2d-wrapper .scripture-map-2d-controls .zoom-container > button {
  appearance: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  border: none;
  border-radius: 4px;
  padding: 0 8px;
  position: relative;
  background-color: transparent;
}

.scripture-map-2d-wrapper
  .scripture-map-2d-controls
  .zoom-container
  > button.hovered {
  background-color: var(--primaryLight);
}

.scripture-map-2d-wrapper
  .scripture-map-2d-controls
  .zoom-container
  > button:nth-of-type(1),
.scripture-map-2d-wrapper
  .scripture-map-2d-controls
  .zoom-container
  > button:nth-of-type(3) {
  width: 32px;
}

/* .scripture-map-2d-wrapper
  .scripture-map-2d-controls
  .zoom-container
  > button
  > span {
  color: inherit;
} */

.scripture-map-2d-wrapper
  .scripture-map-2d-controls
  .zoom-container
  > button:nth-of-type(1)
  > span,
.scripture-map-2d-wrapper
  .scripture-map-2d-controls
  .zoom-container
  > button:nth-of-type(3)
  > span {
  font-size: 16px;
}

.scripture-map-2d-wrapper
  .scripture-map-2d-controls
  .zoom-container
  > button:nth-of-type(2)
  > span {
  text-box: auto;
  color: var(--iconColor);
}

.zoom-level-selector {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: calc(100% + 12px);
  background-color: var(--toolbarBackground);
  padding: 4px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 148px;
}

.zoom-level-selector > * {
  padding: 8px;
  width: 100%;
  color: var(--iconColor);
}

.zoom-level-selector > span {
  font-size: 16px;
  font-weight: 600;
  text-align: start;
  /* margin-bottom: 8px; */
}

.zoom-level-selector > button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  appearance: none;
  border: none;
  background-color: transparent;
  font-size: 16px;
  border-radius: calc(var(--scale-factor) * 4px);
}

.zoom-level-selector button:hover {
  background-color: var(--primaryLight);
}

.zoom-level-selector > button > span {
  color: inherit;
}

.zoom-level-selector > button > span:nth-of-type(2) {
  border-radius: 25px;
  width: 16px;
  height: 16px;
  background-color: transparent;
  border: solid 5px var(--secondaryColor);
}

.scripture-map-2d-wrapper .scripture-map-2d-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  justify-self: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  overflow: scroll;
  gap: calc(28px * var(--scale-factor));
  padding: 8px 16px 0;
  /* z-index: 10; */
}

.scripture-map-2d-wrapper .scripture-map-2d-container .testament-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: calc(16px * var(--scale-factor));
  width: 100%;
}

.scripture-map-2d-wrapper
  .scripture-map-2d-container
  .testament-container
  .testament-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: calc(16px * var(--scale-factor));
  align-items: start;
  z-index: 0;
}

.testament-content .books-container {
  display: flex;
  gap: calc(8px * var(--scale-factor));
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.books-container .book-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 80px;
  border: solid calc(2px * var(--scale-factor)) var(--whitegray-color);
  border-radius: calc(10px * var(--scale-factor));
  padding: calc(8px * var(--scale-factor));
  gap: calc(12px * var(--scale-factor));
}

.scripture-map-2d-wrapper
  .scripture-map-2d-container
  .testament-container
  .book-container
  .book-cover {
  background: var(--firstToolbarbutton);
  width: 100%;
  border-radius: calc(8px * var(--scale-factor));
  border: solid 1px transparent;
  display: grid;
  gap: var(--chapter-gap);
  position: relative;
  grid-template-columns: repeat(var(--book-max-columns), var(--chapter-width));
  grid-template-rows: repeat(auto-fill, var(--chapter-width));
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.book-container .book-header {
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.book-container .book-header > * {
  font-family: system-ui;
}

.book-header .book-id {
  font-size: calc(24px * var(--scale-factor));
  font-weight: 500;
  color: var(--bookHeadingColor);
  text-box: auto;
}

.book-header .book-name {
  font-size: calc(16px * var(--scale-factor));
  color: var(--bookHeadingColor);
  font-style: italic;
}

.scripture-map-2d-wrapper
  .scripture-map-2d-container
  .testament-container
  .book-container
  .book-cover
  .chapter {
  background: var(--firstToolbarbutton);
  border-color: var(--firstToolbarbutton);
  color: var(--text1);
  visibility: visible;
  font-size: calc(12px * var(--scale-factor));
  width: var(--chapter-width);
  height: var(--chapter-height);
  position: relative;
  border-radius: calc(2px * var(--scale-factor));
  cursor: pointer;
  border-width: calc(3px * var(--scale-factor));
  font-family: system-ui;
  text-box: auto;
  vertical-align: middle;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  --userPresenceBorderPadding: calc(var(--scale-factor) * 2px);
}

.scripture-map-2d-wrapper
  .scripture-map-2d-container
  .testament-container
  .book-container
  .book-cover
  .chapter.show-user-presence {
  width: calc(var(--chapter-width) - var(--userPresenceBorderPadding));
  height: calc(var(--chapter-width) - var(--userPresenceBorderPadding));
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.book-container .book-cover .chapter.show-user-presence::before,
.book-container .book-cover .chapter.show-user-presence::after,
.book-container .book-cover.show-user-presence::before,
.book-container .book-cover.show-user-presence::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  animation: 8s spin linear infinite;
  box-sizing: content-box;
}

.book-container .book-cover .chapter.show-user-presence::before,
.book-container .book-cover .chapter.show-user-presence::after {
  background-image: conic-gradient(
    from var(--angle),
    var(--userPresenceColors)
  );
  padding: var(--userPresenceBorderPadding);
  border-radius: calc(3px * var(--scale-factor));
}

.book-container .book-cover.show-user-presence::before,
.book-container .book-cover.show-user-presence::after {
  background-image: conic-gradient(
    from var(--angle),
    var(--bookUserPresenceColors)
  );
  padding: calc(var(--scale-factor) * 6px);
  border-radius: calc(10px * var(--scale-factor));
}

.book-container .book-cover.show-user-presence::before {
  filter: blur(0.2rem);
  opacity: 0.7;
}

.toggle {
  width: 100%;
  padding: calc(12px * var(--scale-factor)) calc(20px * var(--scale-factor));
  color: black;
  border-radius: calc(8px * var(--scale-factor));
  cursor: pointer;
}

.toggle > span {
  text-align: center;
  vertical-align: middle;
  text-box: auto;
  /* font-size: calc(32px * var(--scale-factor)); */
}

.toggle > span.toggle-title,
.toggle > span.toggle-description {
  font-family: system-ui;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: start;
  color: var(--bookHeadingColor);
}

.toggle > span.toggle-title {
  font-size: calc(24px * var(--scale-factor));
  font-weight: 500;
}

.toggle > span.toggle-description {
  font-size: calc(18px * var(--scale-factor));
  color: var(--iconColor);
  grid-area: description;
}

.toggle > span.toggle-arrow {
  grid-area: arrow;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(32px * var(--scale-factor));
}

.toggle-testament {
  background-color: var(--pageBackground);
  box-shadow: 0 0 6px 0px #0000001a;
  border-bottom: solid calc(3px * var(--scale-factor)) var(--secondaryColor);
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    "title arrow"
    "description arrow";
  gap: calc(2px * var(--scale-factor));
}

.toggle-testament > span.toggle-title {
  grid-area: title;
}

.toggle-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid calc(3px * var(--scale-factor));
}

.tooltip {
  width: auto;
  /* max-width: 140px; */
  background-color: var(--iconColor);
  color: var(--pageBackground);
  text-align: center;
  z-index: 1;
  border-radius: 12px;
  position: fixed;
  padding: 12px;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  white-space: nowrap;
  font-size: 14px;
}

.tooltip.tooltip-up {
  transform: translate(-50%, calc((100% + 8px) * (-1)));
}

.tooltip.tooltip-down {
  transform: translate(-50%, 8px);
}

/* .tooltip::after {
  content: " ";
  position: absolute;
  left: var(--arrowLeft);
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  pointer-events: none;
} */

/* .tooltip.tooltip-up::after {
  top: 100%;
  border-color: black transparent transparent transparent;
}

.tooltip.tooltip-down::after {
  bottom: 100%;
  border-color: transparent transparent black transparent;
} */

.tooltip > span {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 16px;
  gap: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tooltip .user-presence-tooltip-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tooltip .user-presence-tooltip-content > div {
  display: flex;
  padding-left: 12px;
}

.tooltip .user-presence-tooltip-content > div > div {
  height: 24px;
  width: 24px;
  border-radius: 12px;
  margin-left: -12px;
  border: solid 3px var(--iconColor);
}

.tooltip .user-presence-tooltip-content > span {
  padding-bottom: 4px;
}

.tooltip .tooltip-reading-history-content > span:nth-of-type(1) {
  border-radius: 10px;
  width: 14px;
  height: 14px;
}

.tooltip .tooltip-reading-history-content > span:nth-of-type(2) {
  font-size: 14px;
}

.tooltip .tooltip-reading-history-content > span:nth-of-type(3) {
  font-size: 11px;
  color: var(--gray2-color);
}

.tooltip-reading-history-title {
  font-weight: 700;
}

.horizontal-divider {
  width: 100%;
  height: 1px;
  background-color: var(--gray-color);
}

.pointable {
  cursor: pointer;
}

.invisible {
  visibility: hidden;
}

.hidden {
  display: none !important;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }

  to {
    --angle: 360deg;
  }
}
