.toolbar-container-1 {
  display: var(--toolbarVisibility);
  justify-content: center;
  padding: 16px 0;
  width: max-content;
  position: fixed;
  bottom: 18px;
  left: 50%;
  z-index: 10;
}

.toolbar-1 {
  direction: ltr;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--toolbarBackground, #ffffff);
  border-radius: 12px;
  padding: 8px 20px;
  box-shadow: 0 26px 10px rgba(0, 0, 0, 0.1);
  gap: 10px;
  /* min-width: 320px; */
  max-width: 600px;
  /* width: 80%; */
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 18px;
  z-index: 99;
  border: 1px solid var(--toolbarBorder, #00000024);
  height: 50px;
  pointer-events: none; /* Disabled until app mounts */
}

.toolbar-1.mounted {
  pointer-events: auto; /* Enabled after app mounts */
}

@media (min-width: 768px) {
  .mobile-only {
    display: none;
  }
}

@media (max-width: 480px) {
  .toolbar-1 {
    width: 100vw !important;
    border: none;
    border-radius: 0px;
    bottom: 0px;
    background-color: var(--pageBackground);
    justify-content: flex-start !important;
    padding: 0px 0px;
    height: 54px;
    gap: 4px;
  }
  .firstToolbarbutton {
    background-color: var(--firstToolbarbutton) !important;
    border-radius: 0px !important;
  }

  .leftClick {
    position: absolute !important;
    left: 16px;
    bottom: 68px;
    background: var(--pageBackground) !important;
    border-radius: 100%;
    display: block !important;
    pointer-events: all;
            height: 48px !important;
  }

  .rightClick {
    position: absolute !important;
    right: 16px;
    bottom: 68px;
    background: var(--pageBackground) !important;
    border-radius: 100%;
    display: block !important;
    pointer-events: all;
            height: 48px !important;
  }
  .rightClick button,
  .leftClick button {
        width: 48px !important;
        height: 48px !important;
        border: 1px solid #333333;
    }
}

.toolbar-button:hover {
  /* background-color: var(--pageBackground) !important; */
}

.toolbar-button:focus {
  /* outline: none; */
  /* background-color: #e8e8e8; */
}

.material-icons {
  color: var(--iconColor, #333);
  font-size: 24px;
}

.toolbar-item-wrapper {
  flex: 0 0 44px;
  height: 100%;
  position: relative;
  transition: transform 0.25s ease;
}

.toolbar-button {
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition:
    background-color 0.2s ease,
    transform 0.25s ease;
  width: 100%;
  height: 100%;
  padding: 0;
}

.toolbar-button:hover {
  /* background-color: #f0f0f0; */
}

/* 👇 Empty space where item was */
.placeholder {
  visibility: hidden;
}
