html,
*,
*::after,
*::before {
  box-sizing: border-box;
  scrollbar-gutter: stable;
}

/* Width */
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px var(--secondary);
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: darkgray;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(197, 194, 194)
}

.sidebar-tool {
  position: fixed;
  top: 50%;
  left: 5px;
  max-height: 80vh;
  overflow-y: visible;
  padding: 8px 0;
  background-color: var(--bg);
  box-shadow: 0px 2px 2px var(--secondary);
  border-right: 1px solid var(--secondary);
  transform: translateY(-50%);
  border-radius: 8px;
  transition: left 0.5s linear;
  z-index: 10;
}


.sidebar-tool .tool-item {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: grid;
  place-items: center;
  width: 42px;
  cursor: pointer;
  background-color: var(--primary);
}



.sidebar-tool .tool-item:hover {
  background-color: var(--primary-varient);
}

.sidebar-tool-before {
  background-color: var(--primary);
  z-index: 11;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 176px;
  backdrop-filter: blur(4px);
  opacity: 0.5;
  pointer-events: none;
}

.sidebar-tool-after {
  background-color: var(--primary);
  z-index: 11;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 133px;
  backdrop-filter: blur(4px);
  opacity: 0.5;
  pointer-events: none;
}



/* hide the scrollbar in non-touch devices */
@media (hover: hover) {
  .sidebar-tool::-webkit-scrollbar {
    display: none;
  }
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    position: absolute;
    width: 120px;
    background-color: var(--on-bg);
    color: var(--bg);
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%; /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent var(--on-bg) transparent transparent;
}

.subIcon {
    border: none;
    visibility: hidden;
    position: absolute;
    width: 16px;
    text-align: center;
    border-radius: 8px;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 20px !important;
    font-weight: bold !important;
    top: -7px;
    right: -6px;
    color: var(--on-bg) !important;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltip:hover .subIcon {
  visibility: visible;
  opacity: 1;
}

.tooltip-right {
    /* top: -5px; */
    left: 140%;
}